# Visual Studio
.vs/

# Node
node_modules/

# Environment
.env
.env.local

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# .NET
bin/
obj/
*.user
*.suo
/services/identity-service/IdentityService/obj
